* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
}

:root {
  --primary: #fff;
  --secondary: #36454f;
  --textcolor: rgb(255, 77, 0);
}
.switch {
  --primary: #36454f;
  --secondary: #fff;
}
.container {
  position: relative;
  min-height: 100vh;
  width: 100%;
  background: var(--primary);
  overflow: hidden;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 19px 149px;
  z-index: 200;
}

.logo {
  font-size: 2.4rem;
  color: rgb(205, 157, 157);
  font-weight: 550px;
  text-decoration: none;
  color: rgb(0, 1, 2);
}

ul {
  display: flex;
  list-style: none;
  flex: 1;
  justify-content: center;
}

ul li {
  margin: 0 40px;
}

ul li a {
  display: block;
  text-decoration: none;
  text-transform: capitalize;
  letter-spacing: 1;
  color: black;
  font-size: 1.3rem;
}

li a:hover {
  color: red;
  transform: scale(1.2);
  font-size: 21px;
}

.hakkinda {
  position: relative;
  display: flex;
  width: 100%;
  height: 110vh;
}

.ben {
  max-width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 50px;
}

.ben h2 {
  font-size: 4em;
  font-weight: 600;
  color: var(--secondary);
  z-index: 1100;
}

.ben h3 {
  font-size: 3em;
  font-weight: 400;
  color: var(--secondary);
  margin: 10px 0;
}

.btn {
  width: 100%;
  margin-top: 23px;
}

.btn button {
  border: none;
  background: mediumorchid;
  color: #fff;
  text-transform: capitalize;
  letter-spacing: 2px;
  border-radius: 6px;
  padding: 10px 20px;
  box-shadow: 0 16px 21px 0 rgb(0, 0, 0, 0.3);
  cursor: pointer;
}

.btn button:hover {
  background: orangered;
  transform: scale(1.1);
  color: #fff;
  transition: 0.1 ease;
  padding: 10px 35px;
}

.sosyalmedya {
  position: absolute;
  bottom: 120px;
  left: 33px;
}

.sosyalmedya i {
  font-size: 3em;
  margin: 0 14px;
}

.fa-instagram {
  color: red;
}
.fa-linkedin {
  color: cornflowerblue;
}

.fa-github {
  color: blueviolet;
}

.fa-solid {
  color: rgb(71, 171, 141);
}

.sosyalmedya i:hover {
  font-size: 3em;
  color: rgb(255, 17, 0);
  transform: scale(1.2);
}

.benim {
  overflow: hidden;
}

.kendim {
  position: relative;
  width: 680px;
  bottom: -100px;
  z-index: 1;
  transition: 0.3 ease;
}

.kendim img {
  width: 100%;
}

.benim:hover .kendim {
  transform: translateX(-12px);
}

.toggleSwitch {
  position: relative;
}

.toggleSwitch .fa {
  position: absolute;
  font-size: 42px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.fa-sun {
  display: none;
  color: #fff;
}

.switch .fa-sun {
  display: block;
}

.switch .fa-moon {
  display: none;
}
